*{
    margin:0;
    padding:0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "PT Serif", serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #021526;
    color:white;
    font-family:"Bree Serif", serif;
}
.container{
    padding:50px 10% 100px 10%;
}
nav h1{
    font-size: 2.5rem;
    color:#6EACDA;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    list-style: none;
    display:inline-block;
    margin:10px 20px;
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color:#6EACDA;
    position:absolute;
    left:0;
    bottom: -6px;
    transition:0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top:15%;
    font-size: 40px;
}
.header-text h1{
    margin-top:20px;
    font-size: 80px; 
}
.header-text h1 span{
    color:#6EACDA;
}
.header-text p{
    color:#6EACDA;
}

/* About  */
#about{
    padding:20px 0;
}
.row{
    display:flex;
    justify-content: space-between;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width:100%;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    color:#6EACDA;
    font-size: 60px;
    font-weight: 600;
}
p{
    color:rgb(205, 202, 202);
    font-weight: 100;
    word-spacing: 3px;
    margin:10px 0;
}
.tab-titles{
    display:flex;
    margin: 20px 0 20px;
}
.tab-links{
    margin-right: 100px;
    font-size: 20px;
    font-weight: 600;
    cursor:pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background-color:#196bcf;
    position:absolute;
    left:0;
    bottom: -6px;
    transition:0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    margin:10px 0;
}
.list-heading{
    color:rgb(205, 202, 202);
    font-size: 20px;
}
.list-subheading{
    color:#6EACDA;
    font-size: 15px;
    font-weight: 600;
    list-style: none;
}
.tab-contents{
    display:none;
}
#education li span{
    font-size: 14px;
}

.tab-contents.active-tab{
   display: block;
}
#resume a {
    color:white;
    text-decoration: none;
}
#resume {
    position: absolute;
    left:45%;
    font-size: 18px;
}

/* Project */
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.project img{
    width:100%;
    height:100%;
    border-radius: 10px;
    display:block;
    transition: transform 0.5s;
}
.layer{
    width:100%;
    height:0;
    background:linear-gradient(rgba(0,0,0,0.6),#6EACDA);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom:0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 30px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom:20px;
}
.layer a{
    margin-top: 20px;
    color:#196bcf;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: white;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project:hover img{
    transform: scale(1.1);
}
.project:hover .layer{
    height: 100%;
}

/* Contact */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    margin-right: 15px;
    color:#196bcf;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#6EACDA;
    transform: translateY(-5px);
}
.btn{
    display: inline-block;
    margin:50px auto;
    width:fit-content;
    border:1px solid #196bcf;
    padding:14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:white;
    background-color: #021526;
    transition: background-color 0.5s;
}
.btn:hover{
    background-color : #196bcf;
}
/* .btn.btn2{
    display: inline-block;
    background-color: #6EACDA;
} */
.contact-right form{
    width:100%;
}
form input,form textarea{
    width:100%;
    border:0;
    outline: none;
    background-color: #083258;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    color:white;
    font-size: 18px;
}
form .btn2{
    padding:14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor:pointer;
}

/* css for small screens */
nav .fas{
    display:none;
}


@media only screen and (max-width:600px){
    .header-text{
        margin-top:60%;
        font-size: 20px;
    }
    .header-text h1{
        font-size: 35px;
    }
    nav .fas{
        display:block;
        font-size: 25px;
    }
    nav ul{
        background-color: #6EACDA;
        position: fixed;
        top:0;
        right:-200px;
        padding-top: 50px;
        width:200px;
        height: 100vh;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display:block;
        margin:25px;
    }
    nav ul .fas{
        position: absolute;
        top:25px;
        left:25px;
    }
    .sub-title{
        font-size: 40px;
    }
    .row{
        flex-direction: column;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-1 img{
        flex-basis: 50%;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
}
